SESSION_ID="levanter_sessionid"
VPS="true"
AUTO_UPDATE="true"
AUTO_STATUS_VIEW="no-dl &delay"
PREFIX="/"
RMBG_KEY="FuwfaqPfWTBGfGEd8mKQqJih"
GEMINI_API_KEY="AIzaSyBn91joFxlzogcHIL4fAkX7L5Y_EQmjVwQ"
ANTI_DELETE="p"
DELETE_TYPE="all"
STICKER_PACKNAME= "Levanter,LyFE"
